/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face { 
    font-family: "FormularLight";
    
    src: url("../fonts/FormularLight/FormularLight.eot");
    src: url("../fonts/FormularLight/FormularLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FormularLight/FormularLight.woff") format("woff"),
    url("../fonts/FormularLight/FormularLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "FormularMedium";
    src: url("../fonts/FormularMedium/FormularMedium.eot");
    src: url("../fonts/FormularMedium/FormularMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FormularMedium/FormularMedium.woff") format("woff"),
    url("../fonts/FormularMedium/FormularMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "FormularBold";
    src: url("../fonts/FormularBold/FormularBold.eot");
    src: url("../fonts/FormularBold/FormularBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FormularBold/FormularBold.woff") format("woff"),
    url("../fonts/FormularBold/FormularBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "FormularLight";
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    background: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

/*Header start*/

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
.input::placeholder {
    color: #9e9ea7;
   }
   
.input:focus, input:hover {
    outline: none;
    border-color: rgba(72, 219, 232, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(59, 157, 218, 0.1);
   }
   
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    
   }

.header_logo{
    width: 104px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: url(../img/svg/Логотип.svg) no-repeat center;
}


.header_list{
    display: flex;
    flex-wrap: wrap;

}

.header_items{
    margin-right: 60px;
    margin-top: 12px;
}

.header_link{
    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
}

.group{
    margin-top: 5px;
}

/*Header end*/


/*Intra start*/

.intro{
    height: 100vh;
    background-size: cover;
    padding-top: 140px;
}


.intro_title{
    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.085em;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

/*Intra end*/

/*Benefits styles start*/

.box-small{
    width: 35%;
    height: auto;
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px ;
    position: relative;
    margin: 28px;
    float: left;
    border-radius: 25px;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    hyphens: manual;
    overflow-wrap: break-word;
}

.box-large {
    width: 50%;
    height: auto;
    background-color: #21BECE;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 28px;
    float: left;
    border-radius: 30px;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    hyphens: manual;
    overflow-wrap: break-word;
  }

.box-small.arrow-left:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 80%;
    border-top: 15px solid transparent;
    border-left: none;
    border-right: 40px solid #D9D9D9;
    border-bottom: 15px solid transparent;
    transform: rotate(-45deg);
}
  
.box-large.arrow-right:after {
    content: " ";
    position: absolute;
    right: -20px;
    top: 94%;
    border-top: 15px solid transparent;
    border-left: 40px solid #21BECE;
    border-right: none;
    border-bottom: 15px solid transparent;
    transform: rotate(45deg);
}

.people{
    width: 10%;
    height: auto;
    padding: 20px;
    margin: 20px;
    position: relative;
    float: left;
}
/*
.box-pic1{
    width: 20%;
    height: auto;
    padding: 20px;
    margin: 20px;
    position: relative;
    float: left;
    background: url(../img/svg/krasilnikov.svg) no-repeat center;
}
.box-pic2{
    width: 20%;
    height: auto;
    padding: 20px;
    margin: 20px;
    position: relative;
    float: left;
    background: url(../img/svg/mahonin3.png) no-repeat center;
}
.box-pic3{
    width: 20%;
    height: auto;
    padding: 20px;
    margin: 20px;
    position: relative;
    float: left;
    background: url(../img/svg/pressa4.svg) no-repeat center;
}
.box-pic4{
    width: 20%;
    height: auto;
    padding: 20px;
    margin: 20px;
    position: relative;
    float: left;
    background: url(../img/svg/pressa4.svg) no-repeat center;
}
*/

.message_grey{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.message_tiffani{
    display: flex;
    flex-direction: row-reverse;  
}
  
.spravka{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: stretch;
    margin: 28px;
    justify-content: center;
}

.spravka_pic{
    width: 10%;
    height: auto;
    padding: 42px;
    position: relative;
    float: left;
    background: url(../img/svg/spravka.svg) no-repeat center;
}

.spravka_txt{
    width: 35%;
    height: auto;
    text-align: center;
    padding: 10px;
    position: relative;
    margin: 10px;
    font-family: 'Formular';
    font-style: normal;
    inline-size: 840px;
    overflow-wrap: break-word;
    hyphens: manual;
    float: left;
}
 /* 
.dialogs{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    padding-top: 10px;
}
.rectangle1{
    position: absolute;
    width: 299px;
    height: 53px;
    left: 180px;

    
    background: #D9D9D9;
    border-radius: 15px;
}

.triangle1{
    position: absolute;
    width: 30px;
    height: 30px;
    padding-left: 199px;
    padding-top: 93px;
    
    background: url(../img/svg/triangle1.svg) no-repeat right center;
}

.text1{
    position: absolute;
    width: 500px;
    height: 18px;
    padding-left: 175px;
    padding-top: 15px;

    text-align: center;
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
}
    
.rectangle2{
    position: absolute;
    width: 800px;
    height: 211px;
    right: 400px;
    top: 366px;
    
    background: #21BECE;
    border-radius: 30px;
}

.triangle2{
    position: absolute;
    width: 62px;
    height: 60px;
    right: 380px;
    top: 534px;
    background: url(../img/svg/triangle2.svg) no-repeat right center;
    object-fit: cover;
}

.text2_1{
    position: absolute;
    width: 721px;
    height: 170px;
    right: 435px;
    top: 387px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #FFFFFF;
}

.text2_2{
    position: absolute;
    width: 197px;
    height: 18px;
    right: 155px;
    top: 637px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    color: #000000;
    
}

.kras2{
    position: absolute;
    width: 147px;
    height: 147px;
    right: 180px;
    top: 483px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 110px;

    background: url(../img/svg/krasilnikov.svg) no-repeat center;
    border-radius: 110px;
    object-fit: cover;
}

.rectangle3{
    position: absolute;
    width: 800px;
    height: 211px;
    right: 400px;
    top: 847px;
    
    background: #21BECE;
    border-radius: 30px;
}

.triangle3{
    position: absolute;
    width: 62px;
    height: 60px;
    right: 380px;
    top: 1010px;
    
    background: url(../img/svg/triangle2.svg) no-repeat right center;
    object-fit: cover;
}

.text3_1{
    position: absolute;
    width: 724px;
    height: 170px;
    right: 435px;
    top: 868px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #FFFFFF;
}

.mahon3{
    position: absolute;
    width: 147px;
    height: 147px;
    right: 180px;
    top: 972px;
    

    background: url(../img/svg/mahonin3.png) no-repeat center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 110px;
    object-fit: cover;
}

.text3_2{
    position: absolute;
    width: 222px;
    height: 44px;
    right: 145px;
    top: 1124px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #000000;
}

.rectangle4{
    position: absolute;
    width: 800px;
    height: 319px;
    right: 400px;
    top: 1172px;
    
    background: #21BECE;
    border-radius: 30px;
}

.triangle4{
    position: absolute;
    width: 62px;
    height: 60px;
    right: 380px;
    top: 1447px;    
    background: url(../img/svg/triangle4.svg) no-repeat right center;
    object-fit: cover;
}

.text4_1{
    position: absolute;
    width: 724px;
    height: 321px;
    right: 435px;
    top: 1200px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #FFFFFF;
}

.pressa4{
    position: absolute;
    width: 147px;
    height: 147px;
    right: 180px;
    top: 1407px;
    
    background: url(../img/svg/pressa4.svg) no-repeat right center;
    object-fit: cover;
}

.text4_2{
    position: absolute;
    width: 204px;
    height: 16px;
    right: 145px;
    top: 1560px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #000000;
}

.rectangle5{
    position: absolute;
    width: 299px;
    height: 53px;
    left: 180px;
    top: 1568px;
    
    background: #D9D9D9;
    border-radius: 15px;
}

.triangle5{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 168px;
    top: 1600px;  
    background: url(../img/svg/triangle1.svg) no-repeat right center;
    object-fit: cover;
}

.text5{
    position: absolute;
    width: 300px;
    height: 18px;
    left: 180px;
    top: 1583px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
}

.rectangle6{
    position: absolute;
    width: 800px;
    height: 58px;
    right: 400px;
    top: 1666px;
    
    background: #21BECE;
    border-radius: 17px;
}


.triangle6{
    position: absolute;
    width: 62px;
    height: 62px;
    right: 385px;
    top: 1680px;   
    background: url(../img/svg/triangle6.svg) no-repeat right center;
    object-fit: cover;
}

.text6_1{
    position: absolute;
    width: 724px;
    height: 25px;
    right: 435px;
    top: 1685px;

    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;    
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #FFFFFF;
}

.pressa6{
    position: absolute;
    width: 147px;
    height: 147px;
    right: 180px;
    top: 1642px;
    
    background: url(../img/svg/pressa4.svg) no-repeat right center;
    object-fit: cover;
}

.text6_2{
    position: absolute;
    width: 204px;
    height: 20px;
    right: 145px;
    top: 1795px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #000000;
}

.rectangle7{
    position: absolute;
    width: 800px;
    height: 187px;
    right: 400px;
    top: 1852px;
    
    background: #21BECE;
    border-radius: 30px;
}


.triangle7{
    position: absolute;
    width: 62px;
    height: 62px;
    right: 380px;
    top: 1990px; 
    background: url(../img/svg/triangle7.svg) no-repeat right center;
    object-fit: cover;
}

.text7_1{
    position: absolute;
    width: 724px;
    height: 148px;
    right: 435px;
    top: 1878px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #FFFFFF;
}

.avtaykin7{
    position: absolute;
    width: 147px;
    height: 147px;
    right: 180px;
    top: 1952px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: url(../img/svg/avtaykin7.svg) no-repeat right center;
    object-fit: cover;
    border-radius: 110px;
    object-position: bottom;
}

.text7_2{
    position: absolute;
    width: 207px;
    height: 38px;
    right: 145px;
    top: 2102px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #000000;
    
}


.spravka_pic{
    position: absolute;
    width: 60.79px;
    height: 80.83px;
    left: 280px;
    top: 703px;
    
    background: url(../img/svg/spravka.svg) no-repeat center;
    object-fit: cover;
}


.spravka_txt{
    position: absolute;
    width: 870px;
    height: 96px;
    left: 346px;
    top: 700px;
    
    display: table-cell;
    vertical-align: middle;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #000000;
    
} */


/*Benefits styles end*/